extends layout 

block content 
    p Username:
        br
        input(name='username' type='text' value=user.username)
    p Email:
        br
        input(name='email' type='text' value=user.email)
    p Age: 
        br
        input(name='age' type='text' value=user.age)   
    p New Password:
        br
        input(name='password' type='text' value=user.password)
    p Multiple Choice 1
        br
        input(name='answerAfor1' type='radio' value=)
        input(name='answerBfor1' type='radio' value=)
        input(name='answerCfor1' type='radio' value=)
        input(name='answerDfor1' type='radio' value=)
    p Multiple Choice 2
        br
        input(name='answerAfor2' type='radio' value=)
        input(name='answerBfor2' type='radio' value=)
        input(name='answerCfor2' type='radio' value=)
        input(name='answerDfor2' type='radio' value=)
    p Multiple Choice 3
        br
        input(name='answerAfor3' type='radio' value=)
        input(name='answerBfor3' type='radio' value=)
        input(name='answerCfor3' type='radio' value=)
        input(name='answerDfor3' type='radio' value=)  