extends layout 

block content
    head 
    body
        form(method='post' action='/signup')
            p Username:
                br
                input(name='username' type='text')
            p Email:
                br
                input(name='email' type='text')
            p Age: 
                br
                input(name='age' type='text')   
            p Password:
                br
                input(name='password' type='text')
            p What is your favorite primary color?
                select(name="colors") 
                    option(name='Red')
                    option(name='Blue')
                    option(value='Yellow')
                    option(value="I hate colors")
            p What is your meal of the day?
                select(name="meal")
                    option(name='Breakfast')
                    option(name='Lunch')
                    option(name='Dinner/Supper')
                    option(name='I eat when I want to')
            p Batman or Superman?
                select(name='Batman or Superman')
                    option(name='Batman, Duh.')
                    option(name='Easy, Superman.')
                    option(name='Captain America.')
                    option(name='Who?')    
            p
                input(type='submit' value='Sign Up')