extends layout 

block content
    head 
    body
        form(method='post' action='/')
            p Username:
                br
                input(name='username' type='text')
            p Email:
                br
                input(name='email' type='text')
            p Age: 
                br
                input(name='age' type='text')   
            p Password:
                br
                input(name='password' type='text')
            p Multiple Choice 1
                br
                input(name='answerAfor1' type='radio')
                input(name='answerBfor1' type='radio')
                input(name='answerCfor1' type='radio')
                input(name='answerDfor1' type='radio')
            p Multiple Choice 2
                br
                input(name='answerAfor2' type='radio')
                input(name='answerBfor2' type='radio')
                input(name='answerCfor2' type='radio')
                input(name='answerDfor2' type='radio')
            p Multiple Choice 3
                br
                input(name='answerAfor3' type='radio')
                input(name='answerBfor3' type='radio')
                input(name='answerCfor3' type='radio')
                input(name='answerDfor3' type='radio')    
            p
                input(type='submit' value='Sign Up')