extends layout 

block content
  div(id='body')
    p 
      td 
        a(href='/edit') Update Information
    p(id='stats') Statistics between users 
    br
    p
      button(onclick='location.href="/logout"') Log Out
    p Last Visited on #{cookie} 
