extends layout 

block content
  div(id='body')
    p Last Visited on
    p 
      td 
        a(href='/edit/' + user.id) Update Information

    p(id='stats') Statistics between users 
    br
    p
      input(type='submit' value='Log out')
