html {
    background-color: #121212;
    color: #EAEAEA;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
}

form {
    background-color: #1e1e1e;
    margin: auto;
}

#stats {
    text-align: center;
}

#body {
    background-color: #1e1e1e;

}

p {
    color: #EAEAEA;
}

button {
    border: 1px solid black;
    border-radius: 15px;
    background: linear-gradient(120deg, #121212, #EAEAEA);
    padding: 5px;
}
